{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h1>Intro Page</h1>
        <h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci enim ipsam placeat
            quia
            quidem vero.
            Asperiores distinctio eveniet explicabo incidunt itaque nihil odit quas reprehenderit. Deleniti laborum
            minima
            molestias!
        </h3>
    </div>
{% endblock %}